<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Leasing Management System"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyLoginApp">
        <activity
            android:name=".lesseepayment"
            android:exported="false" />
        <activity
            android:name=".lessorpayment"
            android:exported="false" />
        <activity
            android:name=".recyclerview_payment"
            android:exported="false" />
        <activity
            android:name=".lessee_sendpay"
            android:exported="false" />
        <activity
            android:name=".lessee_payment"
            android:exported="false" />
        <activity
            android:name=".PropertyDetails"
            android:exported="false" />
        <activity
            android:name=".adminsignup"
            android:exported="false" />
        <activity
            android:name=".lessee.ChatActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".lessee.UsersActivity"
            android:exported="false" />
        <activity
            android:name=".manager.ManagerDashboard"
            android:exported="false" />
        <activity
            android:name=".lessor.LessorDashboard"
            android:exported="false" />
        <activity
            android:name=".lessee.LesseeDashboard"
            android:exported="false" />
        <activity
            android:name=".manager.ManagerLoginPage"
            android:exported="false" />
        <activity
            android:name=".lessor.LessorLoginPage"
            android:exported="false" />
        <activity
            android:name=".lessee.LesseeLoginPage"
            android:exported="false" />
        <activity
            android:name=".LoginPage"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.MyLoginApp.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service
            android:name=".firebase.MessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>